@primary-color: #e7794d; // primary color for all components
// @link-color: #ffbe47; // link color
// @success-color: #52c41a; // success state color
// @warning-color: #ffe365; // warning state color
// @error-color: #f5222d; // error state color