@import '~antd/dist/antd.less';
@import './antd-custom.less';

body {
    background-color: #fafafa;
}

.page-main {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.page-wrapper {
    height: 100%;
    overflow-y: auto;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}