.chatForm {
  
}

.chatInput {
  flex: 1 0 0;
  outline: none;
  padding: 6px;
  border: 2px solid ;
  border-right: none;
  color: green;
  border-radius: 6px 0 0 6px;
  font-size: 1.2rem;
  margin-left: 240px;
  width: 500px;
  align-items: center;
  border-style: ridge;
}

.chatButton {
  height: 43px;
  flex: 0 0 90px;
  border-radius: 0 6px 6px 0;
  color: white;
  background: #2ECC71;
  font-weight:bold;
  border-style: none;
}

.chatButton:hover {
  background-color: #BFEFD3;
  cursor: pointer;
}

.chatButton:disabled {
  background-color: grey;
}
