.supplier-card-container{
    border: 1px solid green;
    box-sizing: border-box;
    overflow: hidden;
    max-width:800px;
    height: 150px;
}

.supplier-card-left{
    width: 20%;
    display: table-cell;
    left:50px;
}

.supplier-card-center{
    width:60%;
    display: table-cell;
}

.supplier-card-right{
    width:20%;
    display: table-cell;
    vertical-align: middle;
}

.supplier-card-university{
    color:#2ECC71;
    font-weight: bold;
    margin-top:5px;
}

.supplier-card-major{
    color: #2ECC71;
    font-weight: bold;
    margin-bottom: 10px;
}

.check-out-button{
    color: white;
    background-color: #2ECC71;
    border: #2ECC71;
    margin-right:5px;
    height:30px;
    font-weight: bold;
}

.check-out-button:hover{
    opacity: 0.3;
}

.begin-chat-button{
    color: white;
    background-color: gray;
    border: #2ECC71;
    margin-right:5px;
    height:30px;
    font-weight: bold;
}

.begin-chat-button:hover{
    opacity: 0.3;
}