.createRequestFormContainer {
    width: 50%;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translate(-50%, 20%);
    padding: 20px;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.4);
  }